body {
  background-color: darkblue;
  box-sizing: border-box;
  font-size: 0.8rem;

  /* Disable text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

section {
  border: solid 2px black;
  border-radius: 1rem;
  margin: 5% 10%;
  padding: 1rem;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  
}

h1, h2 {
  text-align: center;
  color: darkblue
}

.game-container {
  display: inline-block;
  margin: auto;
}

.gameboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: solid 2px darkblue;
  border-radius: 1rem;
  width: auto;
  
}

.gameboard-row {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.gamesquare{
  border: solid 2px darkblue;
  padding: 1rem;
  font-size: 10rem;
  line-height: 10rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  color: darkblue
}

.active-square:hover {
  background-color: darkblue;
}

.active-square:active {
  transform: scale(1.1);
}

.instructions-won {
  color: darkred;
}

.play-again {
  width: 30%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: darkblue;
  background-color: lightsalmon;
  border: solid 2px darkblue;
  border-radius: 1rem;
  align-self: center;
  margin: 2rem;
}

.play-again:hover {
  color: darkred;
}
.play-again:active {
  transform: scale(1.1, 1.1);
}

.hidden {
  display: none;
}